<!DOCTYPE html>
<html>
{% load static %}

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="">

  <title> Feane </title>

  <!-- bootstrap core css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />

  <!--owl slider stylesheet -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <!-- nice select  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" />
  <!-- font awesome style -->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />

  <!-- Custom styles for this templates -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />
  <!-- responsive style -->
  <link href="{% static 'css/responsive.css' %}" rel="stylesheet" />

 


</head>

<body>

  <div class="hero_area">
    <div class="bg-box">
      <img src="{% static 'images/background.jpg' %}" alt="">
    </div>
    <!-- header section strats -->
    <header class="header_section">
      <div class="container">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="#">
            <span>
              DDang
            </span>
          </a>

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  mx-auto ">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Menu</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Book Table</a>
              </li>
            </ul>
            
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->
    <!-- slider section -->
    <section class="slider_section ">
      <div id="customCarousel1" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Crayon Shin-Chan
                    </h1>
                    <p>
                      Crayon Shin-chan (Japanese: クレヨンしんちゃん, Hepburn: Kureyon Shin-chan), is a Japanese manga series written and illustrated by Yoshito Usui. Crayon Shin-chan made its first appearance in 1990 in a Japanese weekly magazine called Weekly Manga Action, which was published by Futabasha. Due to the accidental death of author Yoshito Usui, the manga in its original form ended on September 11, 2009. A new manga began in the summer of 2010 by members of Usui's team,[5] titled New Crayon Shin-chan (新クレヨンしんちゃん, Shin Kureyon Shin-chan).                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item ">
            <div class="container ">
              <div class="row">
                <div class="col-md-7 col-lg-6 ">
                  <div class="detail-box">
                    <h1>
                      Atashin'chi
                    </h1>
                    <p>
                      Atashin'chi (Japanese: あたしンち, Hepburn: Atashinchi, short for "atashi no uchi", literally my home or my family, in feminine and spoken form) is a comedy manga by Eiko Kera, and an anime adaptation that was produced from 2002 to 2009. It is an episode-based animated sitcom of the daily experiences of a family of four (the Tachibana family). An anime sequel called Shin Atashin'chi (新あたしンち, "New Atashin'chi") aired from October 6, 2015 to April 5, 2016 in Japan, and is available on Crunchyroll.
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="container">
          <ol class="carousel-indicators">
            <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
            <li data-target="#customCarousel1" data-slide-to="1"></li>
          </ol>
        </div>
      </div>

    </section>
    <!-- end slider section -->
  </div>

  <!-- offer section -->

  <section class="offer_section layout_padding-bottom">
    <div class="offer_container">
      <div class="container ">
        <div class="row">
          <div class="col-md-6  ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/shin.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  <span>Crayon Shin-Chan</span>
                </h6>
              </div>
            </div>
          </div>
          <div class="col-md-6  ">
            <div class="box ">
              <div class="img-box">
                <img src="{% static 'images/ata.jpg' %}" alt="">
              </div>
              <div class="detail-box">
                <h6>
                  <span>Atashin'chi</span>
                </h6>
              
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end offer section -->

  <!-- food section -->

  <section class="food_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Episode
        </h2>
      </div>

      <ul class="filters_menu">
        <li class="active" data-filter="*">All</li>
        <li data-filter=".burger">Crayon Shin-Chan</li>
        <li data-filter=".pizza">Atashin'chi</li>

      </ul>

      <div class="filters-content">
        <div class="row grid">
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <a href="https://www.youtube.com/watch?v=52krW8k_cIQ" target="_blank">
                  <img src="{% static 'images/ata1.jpg' %}" alt="">
                  </a>
                </div>
                <div class="detail-box">
                  <h5>
                    Atashin'chi 1
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <a href="https://noonoo.tv/animation/10565#0e2851f8RtH8yg6B" target="_blank">
                  <img src="{% static 'images/shin1.jpg' %}" alt="">
                  </a>
                </div>
                <div class="detail-box">
                  <h5>
                    Crayon Shin-Chan 1
                  </h5>

              
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <a href="https://www.youtube.com/watch?v=JW1GP4sQH8k" target="_blank">
                  <img src="{% static 'images/ata2.jpg' %}" alt="">
                  </a>
                </div>
                <div class="detail-box">
                  <h5>
                    Atashin'chi 2
                  </h5>

                
                </div>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-4 all pizza">
            <div class="box">
              <div>
                <div class="img-box">
                  <a href="https://www.youtube.com/watch?v=Lsxqnkb174s&list=PL2B4x3t0AhlM5TN-Xrw5HSZ3g6cYgOC-o" target="_blank">
                  <img src="{% static 'images/ata3.jpg' %}" alt="">
                  </a>
                </div>
                <div class="detail-box">
                  <h5>
                    Atashin'chi 3
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <a href="https://noonoo.tv/animation/10810#0e2851f8nrq2qfR9" target="_blank">
                  <img src="{% static 'images/shin2.jpg' %}" alt="">
                  </a>
                </div>
                <div class="detail-box">
                  <h5>
                    Crayon Shin-Chan 2
                  </h5>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6 col-lg-4 all burger">
            <div class="box">
              <div>
                <div class="img-box">
                  <a href="https://noonoo.tv/animation/10759#0e2851f8BHdGn8YB" target="_blank">
                  <img src="{% static 'images/shin3.jpg' %}" alt="">
                  </a>
                </div>
                <div class="detail-box">
                  <h5>
                    Crayon Shin-Chan 3
                  </h5>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>

  <!-- end food section -->


 

  <!-- footer section -->
  <footer class="footer_section">
    <div class="container">
      
      <div class="footer-info">
        <p>
          &copy; <span id="displayYear"></span> All Rights Reserved By
          <a href="/">DDangJiwon</a><br><br>
          &copy; <span id="displayYear"></span> Distributed By
          <a href="/" target="_blank">DDangJiwon</a>
        </p>
      </div>
    </div>
  </footer>
  <!-- footer section -->

  <!-- jQery -->
  <script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <!-- popper js -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <!-- bootstrap js -->
  <script src="{% static 'js/bootstrap.js' %}"></script>
  <!-- owl slider -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <!-- isotope js -->
  <script src="https://unpkg.com/isotope-layout@3.0.4/dist/isotope.pkgd.min.js"></script>
  <!-- nice select -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/js/jquery.nice-select.min.js"></script>
  <!-- custom js -->
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
  <!-- End Google Map -->

</body>

</html>